USE [master]
GO
/****** Object:  Database [CiuCiu]    Script Date: 12/15/2022 11:33:14 PM ******/
CREATE DATABASE [CiuCiu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CiuCiu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CiuCiu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CiuCiu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CiuCiu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CiuCiu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CiuCiu]
GO
/****** Object:  Table [dbo].[Line]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line](
	[Line_id] [int] IDENTITY(300,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Line_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineStations]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineStations](
	[LineStations_id] [int] IDENTITY(400,1) NOT NULL,
	[Line_id] [int] NULL,
	[Station_id] [int] NULL,
	[Distance] [int] NULL,
	[DepartureTime] [time](7) NULL,
	[ArrivalTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LineStations_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Request_id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_id] [int] IDENTITY(1,1) NOT NULL,
	[Role_name] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[Station_id] [int] IDENTITY(200,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Desctiption] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[Station_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_id] [int] IDENTITY(5000,1) NOT NULL,
	[Price] [float] NULL,
	[User_id] [int] NULL,
	[Wagon_id] [int] NULL,
	[DayAndTime] [datetime] NULL,
	[DepartureStation_id] [int] NULL,
	[ArrivalStation_id] [int] NULL,
	[NumberOfSeat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[Train_id] [int] IDENTITY(1000,1) NOT NULL,
	[Line_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Train_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(100,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[Role_id] [int] NULL,
	[is_verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wagons]    Script Date: 12/15/2022 11:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wagons](
	[Wagon_id] [int] IDENTITY(2000,1) NOT NULL,
	[Train_id] [int] NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Wagon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Line] ON 

INSERT [dbo].[Line] ([Line_id], [Name]) VALUES (300, N'Bucuresti_Nord-Constanta')
INSERT [dbo].[Line] ([Line_id], [Name]) VALUES (301, N'Brasov-Bucuresti_Nord')
INSERT [dbo].[Line] ([Line_id], [Name]) VALUES (302, N'Craiova-Bucuresti_Nord')
SET IDENTITY_INSERT [dbo].[Line] OFF
GO
SET IDENTITY_INSERT [dbo].[LineStations] ON 

INSERT [dbo].[LineStations] ([LineStations_id], [Line_id], [Station_id], [Distance], [DepartureTime], [ArrivalTime]) VALUES (400, 300, 200, 0, CAST(N'07:20:00' AS Time), NULL)
INSERT [dbo].[LineStations] ([LineStations_id], [Line_id], [Station_id], [Distance], [DepartureTime], [ArrivalTime]) VALUES (401, 300, 201, 7, CAST(N'07:30:00' AS Time), CAST(N'07:29:00' AS Time))
INSERT [dbo].[LineStations] ([LineStations_id], [Line_id], [Station_id], [Distance], [DepartureTime], [ArrivalTime]) VALUES (402, 300, 202, 109, CAST(N'08:17:00' AS Time), CAST(N'08:16:00' AS Time))
SET IDENTITY_INSERT [dbo].[LineStations] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Request_id], [User_id], [date]) VALUES (1, 106, CAST(N'2022-12-10T22:20:17.130' AS DateTime))
INSERT [dbo].[Requests] ([Request_id], [User_id], [date]) VALUES (2, 1106, CAST(N'2022-12-14T10:26:45.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (2, N'Adult')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Station] ON 

INSERT [dbo].[Station] ([Station_id], [Name], [Desctiption]) VALUES (200, N'Bucuresti Nord', N'Capitala')
INSERT [dbo].[Station] ([Station_id], [Name], [Desctiption]) VALUES (201, N'Bucuresti Baneasa', N'Margine Capitala')
INSERT [dbo].[Station] ([Station_id], [Name], [Desctiption]) VALUES (202, N'Ciulnita', NULL)
SET IDENTITY_INSERT [dbo].[Station] OFF
GO
SET IDENTITY_INSERT [dbo].[Train] ON 

INSERT [dbo].[Train] ([Train_id], [Line_id]) VALUES (1000, 300)
INSERT [dbo].[Train] ([Train_id], [Line_id]) VALUES (1001, 301)
INSERT [dbo].[Train] ([Train_id], [Line_id]) VALUES (1002, 302)
SET IDENTITY_INSERT [dbo].[Train] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_id], [FirstName], [LastName], [email], [phone], [password], [Role_id], [is_verified]) VALUES (106, N'test', N'test', N'test@yahoo.com', N'0727272727', N'04wXAdKvE3I1aCzRpvgvFYuOTou8t1RH0h+HgFeHhYE=', 3, 0)
INSERT [dbo].[Users] ([User_id], [FirstName], [LastName], [email], [phone], [password], [Role_id], [is_verified]) VALUES (1106, N'test2', N'test2', N'test2@yahoo.com', N'0999999999', N'C5g2Web/aITklHTATEWRomnwNN7adgi7O7gPbhnahrU=', 2, 0)
INSERT [dbo].[Users] ([User_id], [FirstName], [LastName], [email], [phone], [password], [Role_id], [is_verified]) VALUES (1107, NULL, NULL, N'admin', NULL, N'OUpTJnL9FJMuMgrR1UHzQTvHBE1HvqAiy7MSEgvDXi4=', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wagons] ON 

INSERT [dbo].[Wagons] ([Wagon_id], [Train_id], [Capacity]) VALUES (2000, 1000, 60)
INSERT [dbo].[Wagons] ([Wagon_id], [Train_id], [Capacity]) VALUES (2001, 1000, 60)
INSERT [dbo].[Wagons] ([Wagon_id], [Train_id], [Capacity]) VALUES (2002, 1000, 60)
SET IDENTITY_INSERT [dbo].[Wagons] OFF
GO
ALTER TABLE [dbo].[LineStations]  WITH CHECK ADD FOREIGN KEY([Line_id])
REFERENCES [dbo].[Line] ([Line_id])
GO
ALTER TABLE [dbo].[LineStations]  WITH CHECK ADD FOREIGN KEY([Station_id])
REFERENCES [dbo].[Station] ([Station_id])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ArrivalStation_id])
REFERENCES [dbo].[LineStations] ([LineStations_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([DepartureStation_id])
REFERENCES [dbo].[LineStations] ([LineStations_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([Wagon_id])
REFERENCES [dbo].[Wagons] ([Wagon_id])
GO
ALTER TABLE [dbo].[Train]  WITH CHECK ADD FOREIGN KEY([Line_id])
REFERENCES [dbo].[Line] ([Line_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Role_id])
REFERENCES [dbo].[Roles] ([Role_id])
GO
ALTER TABLE [dbo].[Wagons]  WITH CHECK ADD FOREIGN KEY([Train_id])
REFERENCES [dbo].[Train] ([Train_id])
GO
USE [master]
GO
